

.cart-spacing {
  margin: 2rem;
}

.cart-padding {
  padding: 1.5rem;
}

.cart-item-spacing {
  padding: 1rem 0;
}

.cart-input-margin {
  margin-top: 2rem;
}

.cart-summary-spacing {
  margin-top: 0.5rem;
}
