/* CartPage.css */
.cart-spacing {
  padding: 1.5rem; /* ou o que preferir para spacing geral */
}

@media (min-width: 768px) {
  .cart-spacing {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .cart-header {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}



.cart-item {
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  
}

@media (max-width: 768px) {
  .cart-item {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .cart-item > div {
    
    margin-bottom: 0.75rem;
  }

  

  .cart-item img {
    margin: 0 ;
  }
}

.box-frete-cupom {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.box-image {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.col-span-3 {
  margin-right: 1rem;
}

.col-span-2 {
  margin-right: 1rem;
  margin-left: 1rem;

}

.box-text {
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
}
