@import url("Index.css");
@import 'tailwindcss';

.image{
    margin: 1.8rem;
}

.forms {
    padding: 2rem;
    margin: 1.8rem;
}

.input1{
    padding: 1rem;
}

.button {
    margin-top: 2.2rem;
    padding: 0.5rem;
}