@import url("Index.css");
@import 'tailwindcss';


.product-listing {
  padding-top: 8rem;   
  padding-bottom: 8rem; 
}

.header {
  margin-bottom: 1.5rem;  
  padding-left: 1rem;     
  padding-right: 1rem;    
}

@media (min-width: 1024px) {
  .header  {
    padding-left: 5rem;     
    padding-right: 5rem;   
  }
}
